build/
dist/
*.egg-info/
.eggs/
__pycache__/
.venv/
venv/
env/
ENV/
.nox/
.tox/
.ruff_cache/
.pytest_cache/
.mypy_cache/
assets/
octoprint_sidebar_macros/translations/
*.md
*.css
**/package.json
**/package-lock.json
**/*.min.js
